/* ==== typography ==== */

.web {
  color: #66fcf1;
  font-weight: 600;
}

.hello {
  color: white;
}


/* ==== layout ==== */

.wrap {
    display: grid;
    grid-template-columns: 2em 1fr 1fr 2em;
    padding-top: 4.5em;
    font-family: sans-serif;
    overflow: hidden;
    background-image: linear-gradient(47deg, #202833 20%, #293441 51%, #202833 75%);
  }
  
  .hello,
  .web,
  img {
    grid-column: 2 / -2;
  }

  

  .stack {
    grid-column: 1 / -1;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: 2em;
  }
  
  .hello {
    margin-top: 3em;
    margin-left: 3em;
    grid-row: 1;
    max-width: 250px;
  }

  .hello::before {
    content: "";
    position: relative;
    left: 0;
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    top: .6em;
    left: -3em;
    /* animation:         increase 2s; 
    animation-fill-mode: forwards; */
  }

  /* @keyframes increase {
    100% {
        width: 40px;
    }
} */
  
  .shadow-logo,
  .original-logo {
    grid-row: 2;
  }
  
  .shadow-logo {
    margin-top: 1em;
    width: 100%;
    max-width: 370px;
  }
  
  .original-logo {
    margin-top: 4em;
    width: 80%;
    margin-bottom: 2em;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    text-decoration: none;
    width: 220px;
    height: 60px;
    color: #66fcf1;
    border: 2px solid #66fcf1;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    position: relative;
    transition: all 0.2s;
    grid-column: 2 / -2;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
  }

  .btn:hover {
    color: #202833;
  }

  .contact-button {
    margin-top: 2em;
  }

  .projects-button {
    margin-top: 1.5em;
    margin-bottom: 2em;
  }


  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-color: #66fcf1;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s;
  }

  .btn:hover::before {
    opacity: 1;
    transform: rotate(13deg);
  }

  .contact-button span,
  .projects-button span {
    color: transparent;
    position: relative;
  }

  .contact-button span::before {
    content: 'C';
    position: absolute;
    color: #66fcf1;
    transition: all 0.2s;
    top: -75%;
  }

  .projects-button span::before {
    content: 'P';
    position: absolute;
    color: #66fcf1;
    transition: all 0.2s;
    top: -75%;
  }

  .btn:hover span::before {
    color: #202833;
    font-size: 80px;
    transform:translate(-65%, -10%) rotate(360deg);
  }


  /* squares */

  .container {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .square {
    position: absolute;
    top: -200px;
    background-color: #66fcf1;
    animation: boxes 12s infinite ease-in-out;
  }

  .square:nth-child(1) {
    width: 75px;
    height: 75px;
    left: 10%;
  }

  .square:nth-child(2) {
    width: 85px;
    height: 85px;
    left: 20%;
    animation-delay: 4s;
  }

  .square:nth-child(3) {
    width: 102px;
    height: 102px;
    left: 45%;
    animation-delay: 8s;
  }

  .square:nth-child(4) {
    width: 70px;
    height: 70px;
    left: 55%;
    animation-delay: 2s;
    opacity: .4;
  }

  .square:nth-child(5) {
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay: 8s;
  }

  .square:nth-child(6) {
    width: 120px;
    height: 120px;
    left: 60%;
    animation-delay: 4s;
    opacity: .5;
  }

  .square:nth-child(7) {
    width: 90px;
    height: 90px;
    left: 85%;
    animation-delay: 9s;
  }

  .square:nth-child(8) {
    width: 70px;
    height: 70px;
    left: 75%;
    animation-delay: 4s;
  }

  .square:nth-child(9) {
    width: 120px;
    height: 120px;
    left: 90%;
    animation-delay: 1s;
  }

  .square:nth-child(10) {
    width: 55px;
    height: 55px;
    left: 60%;
    animation-delay: 7s;
  }



  @keyframes boxes {
    0% { top: -200px; }

    50% { opacity: 0; }

    100% { top: 100%;
    transform: rotate(180deg);
    opacity: 0; }
  }


  /* ==== meadia queries ==== */


  @media (min-width: 290px) {
    .shape {
      stroke-dasharray: 175 540;
      stroke-dashoffset: -346;
    }
  }
  
  @media (min-width: 350px) {
    .original-logo {
      margin-top: 6em;
    }


  .stack {
    margin-left: .8em;
    margin-right: .8em;
  }
  
  }

  @media (min-width: 468px) {

    .stack {
      grid-column: 2 / -2;
    }
  }
  
  @media (min-width: 520px) {
    .original-logo {
      margin-top: 8.8em;
    }

    .stack {
      grid-column: 2 / -2;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 470px;
      max-height: 500px;
      z-index: 1000000;
    }


    .hello {
      max-width: 700px;
    }
  }


  @media (min-width: 680px) {

    .wrap {
      grid-template-columns: 10em 1fr 1fr 3em;
      padding-top: 0;
    }
    .btn {
    grid-column: 2 / -2;
    }

    .stack {
      width: 500px;
    }

}
  
@media (min-width: 980px) {
    .wrap {
      height: 100vh;
      padding-top: 0;
      grid-template-columns: 7em 1fr 1fr .5em;
      grid-template-rows:minmax(7em, 14em) 350px 1fr;
    }

    .container {
      grid-row: 1 / -1;
    }

  

    .hello {
      margin-top: auto;
    }
    .original-logo {
      grid-column: 2;
      margin-left: auto;
      margin-right: 0;
      margin-right: 3em;
    }
    .btn{
      grid-column: 2 / -2;
      margin-top: 4em;
      grid-row: 3;
    }

    .contact-button {
      margin-left: 0;
    }
  
    .projects-button {
      margin-left: 13em;
    }

    .stack {
      grid-row: 2;
      grid-column: 3;
      width: 90%;
      margin-bottom: 2em;
    }

}
@media (min-width: 1200px) {
    .wrap {
      grid-template-columns: 10em 1fr 1fr 7em;
    }
    .stack {
      margin-left: 5em;
      width: 500px;
    }
}
@media (min-width: 1400px) {
    .wrap {
      grid-template-columns: 14em 600px 493px 1fr;
    }
    .stack {
      margin-left: 5em;
    }

    .original-logo {
      max-width: 330px;
    }

    .shadow-logo {
      max-width: 430px;
    }
}
@media (min-width: 1500px) {
    .wrap {
      grid-template-columns: 1fr 493px 493px 1fr;
    }
    .stack {
      margin-left: 5em;
    }
}

  @media (min-width: 1520px) {

    .wrap {
      grid-template-columns: 1fr 650px 493px 1fr;
    }

    .stack {
      margin-left: 12em;
    }

    .original-logo {
      margin-left: auto;
      margin-right: 3em;
    }

}
  