/* ==== typography ==== */

.hello {
  color: #22bdf2;
}


/* ==== layout ==== */

.wrap {
    display: grid;
    grid-template-columns: 2em 1fr 1fr 2em;
    background-image: linear-gradient(47deg, #202833 20%, #293441 51%, #202833 75%);
    padding-top: 4.5em;
    font-family: sans-serif;
  }
  
  .hello,
   img,
  .svg-wrapper,
  .svg-wrapper-2 {
    grid-column: 2 / -2;
  }
  
  .hello {
    margin-top: 3em;
    margin-left: 3em;
  }

  .hello::before {
    content: "";
    position: relative;
    left: 0;
    display: block;
    width: 2px;
    height: 2px;
    background: #22bdf2;
    top: .6em;
    left: -3em;
    animation:         increase 2s; 
    animation-fill-mode: forwards;
  }

  @keyframes increase {
    100% {
        width: 40px;
    }
}
  
  .shadow-logo,
  .original-logo {
    grid-row: 2;
  }
  
  .shadow-logo {
    margin-top: 1em;
    width: 100%;
    max-width: 420px;
  }
  
  .original-logo {
    margin-top: 4em;
    width: 80%;
    margin-bottom: 2em;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .svg-wrapper,
  .svg-wrapper-2 {
    position: relative;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-row: 4;
  }

  .svg-wrapper {
    margin-top: 3em;
  }

  .svg-wrapper-2 {
    margin-top: 8.5em;
  }

  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -378;
    stroke-width: 8px;
    fill: transparent;
    stroke: #22bdf2;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }

  .text-1 {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
    top: -59px;
    position: relative;
  }

  .svg-wrapper a,
  .svg-wrapper-2 a {
    text-decoration: none;
    margin-left: auto;
    display: grid;
    place-items: center;
    padding: 1.1em 1.5em;

  }

  /* ==== meadia queries ==== */


  @media (min-width: 290px) {
    .shape {
      stroke-dashoffset: -363;
    }
  }
  
  @media (min-width: 350px) {
    .original-logo {
      margin-top: 6em;
    }
  }
  
  @media (min-width: 500px) {
    .original-logo {
      margin-top: 8.8em;
    }
  }

  @media (min-width: 680px) {

    .wrap {
      grid-template-columns: 10em 1fr 1fr 3em;
    }

  }
  

  @media (min-width: 980px) {

    .wrap {
      height: 100vh;
      padding-top: 0;
      grid-template-columns: 12em 1fr 1fr 5em;
      grid-template-rows: 1fr;
    }

    .hello {
      margin-top: auto;
    }

    .original-logo {
      grid-column: 2;
      margin-left: auto;
      margin-right: 0;
    }


    .svg-wrapper,
    .svg-wrapper-2 {
      grid-column: 3;
      grid-row: 2;
      margin-left: auto;
      margin-right: 0;
    }

    .svg-wrapper {
      margin-top: 5em;
    }

    .svg-wrapper-2 {
      margin-top: 10em;
    }

    .svg-wrapper:hover .shape,
    .svg-wrapper-2:hover .shape {
      stroke-width: 2px;
      stroke-dashoffset: 0;
      stroke-dasharray: 760;
    }
  }

  @media (min-width: 1200px) {

    .wrap {
      grid-template-columns: 19em 1fr 1fr 7em;

    }

  }


  @media (min-width: 1310px) {

    .wrap {
      grid-template-columns: 18em 493px 493px 1fr;
    }

  }

  @media (min-width: 1500px) {

    .wrap {
      grid-template-columns: 1fr 493px 493px 1fr;
    }

  }
  