.projects-wrap {
    background-color: #1e1e24;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 2em 1fr 2em;

}


.my-work {
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 65px;
    text-align: left;
    color: #293441;
    display: flex;
    font-weight: 600;
    grid-column: 2 / -2;
    grid-row: 1;
    margin-bottom: 1em;
    padding-top: 1em;
}

.a {
    color: #66fcf1;
    
}


.a:hover{
    animation: lighting 1.5s linear;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: jump;
}

.rest:hover {
    animation: lighting 1.5s linear;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

}


@keyframes lighting {
    0% { color: #293441;
    text-shadow: none;
    transform: translateY(0);
}
10% {
    transform: translateY(0);
 }

 25% {
    transform: translateY(-35px);
 }

 50% {
    transform: translateY(0);
 }

 57% {
    transform: translateY(-7px);
 }

 64% {
    transform: translateY(0);
 }
    100% { color: #66fcf1;
    text-shadow: none;
    transform: translateY(0);
}
}

@keyframes jump {
    0% { 
    transform: translateY(0);
}
10% {
    transform: translateY(0);
 }

 25% {
    transform: translateY(-35px);
 }

 50% {
    transform: translateY(0);
 }

 57% {
    transform: translateY(-7px);
 }

 64% {
    transform: translateY(0);
 }
    100% { 
    transform: translateY(0);
}
}

